# engine-strict=true
strict-peer-dependencies=true
auto-install-peers=true

# uncomment if experiencing issue w/ @types packages: https://github.com/pnpm/pnpm/issues/1727
# public-hoist-pattern[]=*types*

# expose astro dependencies for \`pnpm\` users (if using astro)
# pnpm by default nests dependencies to prevent them being used non-explicitly
# rather than re-list all Astro dependencies and keeping them in sync this will shamefully hoist them
# @see https://pnpm.io/npmrc#shamefully-hoist
# @see https://www.youtube.com/watch?v=SaEXyQg7pCc lulz re https://www.stevefenton.co.uk/blog/2023/08/astro-3-and-pnpm/
# env flag for `pnpm build` is `PNPM_FLAGS=--shamefully-hoist`
#
# note the Astro build and Docker image build currently works in this workspace without this (i.e. if it is commented out)
shamefully-hoist=true
